@inject SignInManager<IdentityUser> SignInManager

@using MathSite.Models;
@inject TasksContext DataBase;

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    bool isAdmin = DataBase.UserConfig.Where(x => x.User == SignInManager.Context.User.Identity.Name).FirstOrDefault().isAdmin;


}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">@Localizer["Profile"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">@Localizer["Email"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.YouTasksNavClass(ViewContext)" id="tasks" asp-page="./YouTasks">@Localizer["YouTasks"]</a></li>
    @if (isAdmin)
    {
     <li class="nav-item"><a class="nav-link @ManageNavPages.AdminNavClass(ViewContext)" id="Admin" asp-page="./Admin">@Localizer["Admin"]</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.SolvedTasksNavClass(ViewContext)" id="solved" asp-page="./SolvedTasks">@Localizer["SolvedTasks"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangeLanguageNavClass(ViewContext)" id="language" asp-page="./ChangeLanguage">@Localizer["Language"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangeThemeNavClass(ViewContext)" id="tasks" asp-page="./ChangeTheme">@Localizer["Theme"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">@Localizer["Password"]</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">@Localizer["ExternalLogins"]</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">@Localizer["TwoFactor"]</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">@Localizer["PersonalData"]</a></li>
</ul>
