@page
@model MathSite.Areas.Identity.Pages.Account.Manage.ChangeLanguageModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<b>@Localizer["CurrentLang"]</b>
<br>
@Localizer["Lang"]
<br>
<b>@Localizer["ChoiseLang"]</b>
<br>

<form method="post">
    <select name="language">
        <option disabled>@Localizer["ChoiseLang"]</option>
        <option value="ru">Русский</option>
        <option value="en">English</option>
    </select><br><br>
    <input type="submit" class="btn btn-primary" value="@Localizer["ChangeLang"]">
</form>
<br>


