@page
@model MathSite.Areas.Identity.Pages.Account.Manage.SolvedTasksModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<form method="get">
    <label class="control-label">Тема:</label>  <select name="Search" asp-items="Model.MathTheme"></select><button type="submit" class="btn btn-primary btn-filter">@Localizer["Найти"]</button>
</form>
<form id="view" method="post">
    <table class="table">
        <tr>
            <th><a asp-route-Sort="@ViewBag.TaskName" asp-route-Search=@ViewData["SearchSave"]>@Localizer["TaskName"]</a></th>
            <th><a asp-route-Sort="@ViewBag.Condition" asp-route-Search=@ViewData["SearchSave"]>@Localizer["Condition"]</a></th>
            <th><a asp-route-Sort="@ViewBag.Type" asp-route-Search=@ViewData["SearchSave"]>@Localizer["Type"]</a></th>
        </tr>
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>@item.TaskName</td>
                <td>@item.Condition</td>
                <td>@item.Type</td>
                <td><Button type="submit" asp-route-act="ShowTask" asp-route-ChoiseId=@item.Id class="btn btn-primary">@Localizer["View"]</Button></td>
            </tr>
        }
    </table>
</form>

