@{

}
<link rel="stylesheet" type="text/css" href="/css/FindBar.css">

<div class="d1">
    <form>
        <input type="text" name="SearchText" placeholder="Искать здесь...">
        <button type="submit"></button>
    </form>
</div>
<br>
<br>
<div>
    <button id="recent" type="submit" class="btn btn-primary">Недавние</button>
    <button id="raitings" type="submit" class="btn btn-primary">Топ-10</button>
    <button type="submit" class="btn btn-primary">Обновить</button>
    <br>
    <form method="post">
        <table class="table" id="recent-table">
            <tr>
                <th><a>Название задачи</a></th>
                <th><a>Тип задачи</a></th>
                <th><a>Дата добавления</a></th>
            </tr>
            @foreach (var item in Model.NewTasks)
            {
                <tr><td>@item.TaskName</td><td>@item.Type</td><td>@item.AddDate</td><td><button type="submit" asp-route-Id="@item.Id" class="btn btn-primary">Решить</button></td></tr>
            }
        </table>
        <table hidden class="table" id="raiting-table">
            <tr>
                <th><a>Название задачи</a></th>
                <th><a>Тип задачи</a></th>
                <th><a>Рейтинг</a></th>
            </tr>
            @foreach (var item in Model.TopTasks)
            {
                <tr><td>@item.TaskName</td><td>@item.Type</td><td>@item.Rating /5</td><td><button type="submit" asp-route-Id="@item.Id" class="btn btn-primary">Решить</button></td></tr>
            }
        </table>
    </form>
</div>

<script>
    document.getElementById("recent").addEventListener("click", function (e) {
        document.getElementById("recent-table").hidden = false;
        document.getElementById("raiting-table").hidden = true;
    });
    document.getElementById("raitings").addEventListener("click", function (e) {
        document.getElementById("recent-table").hidden = true;
        document.getElementById("raiting-table").hidden = false;
    });

</script>
