@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<link rel="stylesheet" type="text/css" href="/css/FindBar.css">

<div class="text-center">
    <h1>@Localizer["SiteFind"]</h1>
</div><br>
<div class="search-bar">
    <form>
        <input type="text" name="SearchText" placeholder="@Localizer["Search"]">
        <button type="submit"></button>
    </form>
</div><br><br>
@if(Model != null)
@foreach (var item in Model)
{
    if (item.isDeleted == false)
    {
        <p><a href="/Home/TaskSolve?CurrentId=@item.Id">"@ViewData["SearchText"]" &#160 @Localizer["Finded"] &#160 @item.TaskName</a><br>@Localizer["Type"] &#160 @item.Type</p>
    }
}